@tailwind base;
@tailwind components;
@tailwind utilities;

/* convert to woff/woff2 version to reduce the font size from tiff */
@font-face {
  font-family: 'MyCustomFont'; 
  src: url('/PatrickHand-Regular.woff2') format('woff2'),
       url('/PatrickHand-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.custom-font,h1, h2, h3, h4 {
  font-family: 'MyCustomFont', sans-serif;  
}


html, body {
    height: 100%;
    margin: 0;
}

#__next {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
}


#tiptap {
  flex:auto;
}
 
   #tiptap button {
    border-radius: 12px; /* Larger radius for a more rounded look */
    font-size: 0.85rem;
    font-weight: 500;
    padding: 0.5rem 1rem; /* Increased padding for better spacing */
    margin: 0.3rem;
    opacity: 0.8;
    background-color:seashell; /* Cold color background */
    color:darkslateblue; /* White text color */
    border: none; /* Remove default border */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle box shadow */
    transition: all 0.3s ease; /* Smooth transition */
    cursor: pointer; /* Pointer cursor for better UX */
  }
  
  #tiptap button:hover,
  #tiptap button.is-active {
    opacity: 1;
    background: linear-gradient(135deg, #fda085 0%, #f6d365 100%); /* Invert gradient on hover/active */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15); /* Slightly larger shadow on hover */
    transform: translateY(-2px); /* Slight lift effect */
  }
  
  .aspect-ratio {
    width: 15%;  /* Or adjust to specific value */
    height: auto; /* This will maintain the aspect ratio */
  }

  /* Responsive Video Wrapper */
 .embed-container,
.responsive-video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  height: 0;
  overflow: hidden;
  max-width: 100%;
  background: #000;
}

/* youtube videos */
.embed-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  height: 0;
  overflow: hidden;
  max-width: 100%;
  background: #000;
}

.embed-container iframe,
.responsive-video-wrapper iframe,
.responsive-video-wrapper object,
.responsive-video-wrapper embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* images within the page articles */
article img {
  width: 100% !important; /* Override the inline width */
  height: auto !important; /* Ensure height adjusts automatically */
  max-width: 100%; /* Prevent image from exceeding original size */
}

 
/* contact page background */
@media (min-width: 640px) { /* This is Tailwind's `sm` breakpoint */
  .contact-bg {
      background-image: url('/contact-bgimg.png');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: right;
      max-height: 100vh;
  }
}
